<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.PaymentDao">


    <select id="getLatest" resultType="com.nju.edu.erp.model.po.PaymentPO">
        select * from payment_sheet order by id desc limit 0,1 ;
    </select>


    <select id="findAllSheetByTime" resultType="com.nju.edu.erp.model.po.PaymentPO">
        select * from payment_sheet where create_time between #{beginTime} and #{endTime};
    </select>

    <select id="findSheetById" resultType="com.nju.edu.erp.model.po.PaymentPO">
        select * from payment_sheet where id = #{id};
    </select>

    <select id="findContentBySheetId" resultType="com.nju.edu.erp.model.po.PaymentContentPO">
        select * from payment_sheet_content where payment_id = #{sheetId};
    </select>
</mapper>