<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.WageDao">


    <select id="getLatest" resultType="com.nju.edu.erp.model.po.WagePO">
        select * from wage_sheet order by id desc limit 0,1 ;
    </select>

    <select id="getUidHaveGZD" resultType="java.lang.Integer">
        select uid
        from wage_sheet
        where year(time) = #{year}
        and month(time) = #{month}
    </select>

    <select id="checkPayroll" resultType="java.lang.Integer">
        select count(*)
        from wage_sheet
        where uid = #{uid}
        and year(time) = #{year}
        and month(time) = #{month}
        and state in (0, 1, 3)
    </select>

    <select id="getYearlyTotalSalary" resultType="java.math.BigDecimal">
        select sum(final_salary)
        from wage_sheet
        where uid = #{uid}
        and year(time) = #{year}
    </select>


    <select id="findAllSheetByTime" resultType="com.nju.edu.erp.model.po.WagePO">
        select * from wage_sheet where time between #{beginTime} and #{endTime};
    </select>
</mapper>